@import '../../styles/colors.scss';

.surveyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    max-width: 800px;
    flex-grow: 1;
    width: 100%;
    padding: 24px 40px;
    gap: 24px;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }
}
